* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.banner .slider {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 10%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 20s linear infinite;
  z-index: 2;
}
@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateY(360deg);
  }
}

.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(550px);
}

.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px, 100vw);
  height: max-content;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.banner .content .author {
  font-family: Poppins;
  text-align: right;
  max-width: 200px;
  z-index: 3;
}
.banner .content h2 {
  font-size: 3em;
}
.banner .content .model {
  background-image: url(/assets/images/jeongyoeb-han-cyberfiction-pf-t-011.png);
  width: 100%;
  height: 80vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: auto 130%;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 1;
}
@media screen and (max-width: 1023px) {
  .banner .slider {
    width: 160px;
    height: 200px;
    left: calc(50% - 80px);
  }
  .banner .slider .item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(300px);
  }
}
@media screen and (max-width: 767px) {
  .banner .slider {
    width: 100px;
    height: 150px;
    left: calc(50% - 50px);
  }
  .banner .slider .item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(180px);
  }
}
.banner2 {
  background-color: #e4e4e4;
}
.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  position: absolute;
  right: 150px;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
}

.banner h1 {
  font-family: "Share Tech Mono", monospace;
  color: white;
  margin: 0;
}
.banner h3 {
  font-family: "Share Tech Mono", monospace;
  color: white;
  margin: 0;
}

.banner2 h1 {
  font-family: "Share Tech Mono", monospace;
  margin-left: 0;
}
.banner2 h3 {
  font-family: "Share Tech Mono", monospace;

  margin-right: 0;
}

.section3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin: 0;
  flex-direction: column;
}
#imageContainer {
  max-width: 500px;
  max-height: 500px;
  overflow: hidden;
  margin-top: 20px;
}
#imageContainer img {
  width: 100%;
  height: auto;
}

.section3 h1 {
  font-family: "Share Tech Mono", monospace;
}
